
*.csproj
*.sln
Library
Temp
OSG
OSG.meta
Assets/TextMesh Pro.meta
Assets/TextMesh Pro
Assets/HomeStuff.meta
Assets/HomeStuff
Assets/mmmm.meta
Assets/mmmm
Assets/SimpleTownLite
Assets/SimpleTownLite.meta
/External
/Threads.proj.DotSettings
